html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
}

table {
    width: 100%;
}

#authors table, th, td {
    font-family: 'Calibri';
    border-bottom: 2px solid #ddd;
    padding: 4px;
    text-align: left;
}

#authors tr:hover {background-color: coral;}


.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

h1 {
    color: #FCA205;
}


.exit p {
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
}

.exit {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    padding-bottom: 2px;
}

.exit ul {
  list-style: none;
}

.exit li img {
    width: 380px;
    height: 30px;
    list-style: none;
    padding: 6px;
    position: absolute;
}
