{% extends "base_generic.html" %}

{% block content %}
<h1>Main page</h1>
    <p>Welcome to <em>World of books!</em> Created using Django framework. It's the 1st test project. Possibly it will be extended with other features</p>

<h2> Dymanic content</h2>

    <p>World of books DB contains:</p>
    <ul>
        <li><strong>Number of books: </strong>{{ num_books }}</li>
        <li><strong>Number of authors: </strong>{{ num_authors }}</li>
        <li><strong>Number of instances: </strong>{{ num_instances }}</li>
        <li><strong>Number of available books: </strong>{{ num_instance_available }}</li>
    </ul>
    <p>Pageviews - {{ num_visits }}</p>
{% endblock %}