{% extends "base_generic.html" %}
{% block content %}

<h3>List of authors in DB</h3>
    <table>
        <thread><th>ID</th><th>------Name------</th>
                    <th>Surname</th><th></th></thread>
    {% if author %}
        {% for author in author.all %}
            <tr>
                <td>{{ author.id }} </td>
                <td>{{ author.first_name }} </td>
                <td>{{ author.last_name }} </td>
                <td><a href="/edit_author/{{ author.id }}"> Edit </a>
                    <a href="/delete/{{ author.id }}"> Delete </a></td>
            </tr>
        {% endfor %}
    {% else %}
        <p>DB is empty</p>
    {% endif %}
    </table>

<h3>Add author to the database</h3>
<form method="POST" action="/create/">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Save">
</form>

{% endblock %}