{% extends "base_generic.html" %}

{% block content %}
    <h1>List of authors</h1>
    {% if author_list %}
        <table id="authors">
           <tr>
               <th>First Name</th>
               <th>Last name</th>
               <th>Date of birth</th>
               <th>Date of death</th>
           </tr>
        {% for author in author_list.all %}
            <tr>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>{{ author.date_of_birth }}</td>
                <td>{{ author.date_of_death }}</td>
        {% endfor %}
        </table>
    {% else %}
        <p>There are no authors in database</p>
    {% endif %}
{% endblock %}