{% extends "base_generic.html" %}

{%  block content %}
    <h1>List of books from DB</h1>
    <table id="books_list">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    {% if book_list %}
        {% for book in book_list %}
        <tr>
            <td><a href="{{ book.get_absolute_url }}"> {{ book.title }} </td>
            <td>{{ book.genre }}</td>
            <td><a href="/book/update/{{ book.id }}">Edit</a></td>
            <td><a href="/book/delete/{{ book.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {%  else %}
        <p>Book DB is empty</p>
    {% endif %}
{% endblock %}